.home-page {
  /* Variables */
  --accent-shadow: #57effa;
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gear-and-skills {
  /* Sizing */
  width: 50%;
  height: 100%;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gear-selection {
  /* Sizing */
  height: 65%;
  width: 40%;
  /* Background */
  background: url("../assets/img/gearmaps/barbarian_female.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* Border */
  /* filter: drop-shadow(0 7px 15px var(--accent-shadow)); */
}

.skill-selection {
  /* Sizing */
  width: 100%;
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.passive-selection {
  /* Sizing */
  width: 100%;
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-selection {
    /* Sizing */
    width: 100%;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.square {
  height: 3rem;
  width: 3rem;
  background-color: green;
  margin: 1rem;
}

.circle {
  height: 3rem;
  width: 3rem;
  background-color: green;
  margin: 1rem;
  border-radius: 100%;
}

.class-and-stats {
  /* Sizing */
  width: 50%;
  height: 100%;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.class-selection {
  /* Sizing */
  width: 33%;
  height: 40%;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 90px;
}

.class-crest {
  height: 80%;
}
